body {
	background: #fff;
	font-family: "Times New Roman", serif;
 	text-align: center;
 	background-color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}
li a {
  display: block;
  width: 60px;
}
li a:hover {
  background-color: #555;
  color: white;
}
.active {
  background-color: #4CAF50;
  color: white;
}