body {
	background: #fff;
	font-family: "Times New Roman", serif;
 	text-align: center;
 	background-color: white;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #ffd;
  position: fixed;
  top: 0;
  width: 50%;
}

li a {
  display: block;
  color: white;
  text-align: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}